.logos-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 3rem var(--wrapper-padding) 1.5rem;
	margin: auto;

	&__item {
		margin: 0 2rem 1.5rem;
    height: 1.47rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
	}
}